<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobiquity APIs">
    <test name="API Testing">
        <classes>
            <class name="apiTests.EmailValidation"/>
            <class name="apiTests.GetCommentsByPostID"/>
            <class name="apiTests.GetPostsByDelphineID"/>
            <class name="apiTests.MobiquityAPIs"/>
            <class name="apiTests.SearchUsersByDelphine"/>
            <class name="apiTests.SearchUsersWithWrongUsername"/>
            <class name="apiTests.GetComments_With_NonExistent_PostID"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->