<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobiquity APIs">
    <test name="API Testing">
        <classes>
            <class name="EmailValidation"/>
            <class name="GetCommentsByPostID"/>
            <class name="GetPostsByDelphineID"/>
            <class name="MobiquityAPIs"/>
            <class name="SearchUsersByDelphine"/>
            <class name="SearchUsersWithWrongUsername"/>
            <class name="GetComments_With_NonExistent_PostID"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->